{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block body %}
    {% if forum %}
        {{macros.render_forum_header(forum)}}
    {% endif %}

    <h2>New Thread</h2>
    {{ form_start(thread_form) }}
    {{ form_widget(thread_form) }}
    {{ form_end(thread_form) }}
{% endblock %}
