{% extends "base.html.twig" %}
{% from "macros/interval.html.twig" import interval %}

{% block body %}
    <h1>{{user.handle}}</h1>
    {% if user.ctime %}
        <p>User for {{interval(user.ctime, date('now'))}}</p>
    {% else %}
        <p>User for time immemorial</p>
    {% endif %}
{% endblock %}
