*, *:before, *:after {
    box-sizing: border-box;
}

a {
    color: #6aa4e6;
}

a:visited {
    color: #6ae687;
}

html {
    background-color: #eeeeee;
    color: #222222;
}

.Page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    background-color: white;
    min-height: 100vh;
    
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.Page-header {
    display: table;
    width: 100%;
    max-width: 100%;
    
    background-color: #666666;
    color: white;
    
    padding: 15px;
}

.Page-header_caption {
    display: table-cell;
    margin: 0;
}

.Page-main {
    display: table;
    width: 100%;
}

.Page-user_menu {
    display: table-cell;
    text-align: right;
}

.Page-user_menu ul {
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

.Page-user_menu ul li {
    display: inline-block;
    vertical-align: middle;
}

.Page-sidebar {
    display: table-cell;
    width: 20%;
    
    background-color: black;
    color: white;
}

.Page-sidebar nav {
    min-height: 100vh;
}

.Page-sidebar ul {
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

.Page-sidebar ul li {
    display: block;
    vertical-align: middle;
}

.Page-sidebar ul li a {
    display: block;
    width: 100%;
    padding: 7px 15px;
    
    text-decoration: none;
    
    background-color: black;
    color: white;
    
    border-bottom: 1px solid #444444;
}

.Page-contents {
    display: table-cell;
    
    padding: 15px;
}

.Page-breadcrumb {
    
}

.Page-breadcrumb ol {
    list-style: none inside none;
    margin: 0;
    padding: 0;
}

.Page-breadcrumb ol li {
    display: inline-block;
    vertical-align: middle;
}