{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block body %}
    <a href="{{url('f9kadmin_user_overview')}}">Users</a>
    <a href="{{url('f9kadmin_forum_overview')}}">Forums</a>
{% endblock %}
