{% extends "base.html.twig" %}

{% block navigation %}
    <a href="{{url('f9kadmin_user_overview')}}">Users</a>
    <a href="{{url('f9kadmin_group_overview')}}">Groups</a>
    <a href="{{url('f9kadmin_forum_overview')}}">Forums</a>
{% endblock %}