{% extends "base.html.twig" %}

{% block navigation %}
    <li><a href="{{url('f9kadmin_user_overview')}}">Users</a></li>
    <li><a href="{{url('f9kadmin_group_overview')}}">Groups</a></li>
    <li><a href="{{url('f9kadmin_forum_overview')}}">Forums</a></li>

    {% if "ROLE_DEVELOPER" in app.user.roles %}
        <li><h3>Developers</h3></li>
        <li><a href="{{url('f9kdeveloper_migrations')}}">Migrations</a></li>
    {% endif %}
{% endblock %}
