{% extends "admin/base.html.twig" %}

{% block body %}
    <h1>User Accounts</h1>

    {% for user in users %}
        <article>
            <a href="{{url('f9kadmin_user_single', {'id':user.compactId})}}">{{user.handle}}</a> (logs in with {{user.email}})
        </article>
    {% else %}
        No users registered!
    {% endfor %}
{% endblock %}
