{% extends "developer/base.html.twig" %}

{% block body %}
    {% if pending_migration_count > 0 %}
        <p>{{pending_migration_count}} migration is ready to apply.</p>
    {% endif %}
{% endblock %}
